body{
    background-color: #616b6f;
}

.seats{
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    height: 420px;
}
.seat{
    width: 25px;
    height: 25px;
    border: 0.5px solid black;
    margin: 5px;
}
.mseats{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 420px;
    margin-right: 50px;
    margin-left: 50px;
}
.bigdiv{
    display: flex;
    justify-content: center;
}
.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-top: 25px;
    width: 600px;
    height: 50px;
    background: rgba(0, 251, 255, 0.486);
    clip-path: polygon(0% 0%,100% 0%,80% 100%,20% 100%);
    font-size: larger;
}
.main{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.full{
    display: flex;
    flex-wrap: wrap;
}
.full2{
    display: flex;
    justify-content: space-between;
}
.details{
    display: flex;
    align-items: center;
    color: white;
}
.summary{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 200px;
    background-color: #f0c244ad;
}
.summ{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.bookedsumm{
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
}
.bookedseats{
    border: 2px solid black;
    margin-right: 15px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #073763;
    color: white;
}
.alpha{
    display: flex;
    height: 420px;
    width: 36px;
    flex-wrap: wrap;
}
.alp{
     width: 25px;
    height: 25px;
    margin: 5px;
    text-align: center;
    color: white;
}
.full .alp{
    margin-right: 7px;
}
.full input{
    margin: 5.2px;
}
.confirmation{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #e2241a;
    color: white;
}
.confirmation:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.line{
    height: 1px;
    background-color: black;
}
.home{
    margin-bottom: 35px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: #f0c244ad;
    color: white;
}
.home:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
footer{
    display: flex;
    flex-direction: column;
    background-color:#073763;
    color: white;
    justify-content: center;
    align-items: center;
}
.fot{
    margin: 10px;
}
.foot1{
    display: flex;
}
.logo{
    height: 50px;
    width: 150px; 
}
a{
    text-decoration: none;
    color: white;
}


